<!DOCTYPE html>
{% load static %}
<html lang="zxx">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>World Vision</title>
    <!-- plugin css for this page -->
    <link
      rel="stylesheet"
      href="{% static 'assets/vendors/mdi/css/materialdesignicons.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'assets/vendors/aos/dist/aos.css/aos.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'assets/vendors/owl.carousel/dist/assets/owl.carousel.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/vendors/owl.carousel/dist/assets/owl.theme.default.min.css' %}"
    />
    <!-- End plugin css for this page -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" />
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <!-- endinject -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript">
      
      function showClock(){
        var currentDate = new Date();
        var divClock = document.getElementById('divClock');
        var msg = "";
        if(currentDate.getHours()>12){
          msg += "오후 ";
          msg += currentDate.getHours()-12+"시 ";
       }
       else {
         msg += "오전 ";
         msg += currentDate.getHours()+"시 ";
       }

        msg += currentDate.getMinutes()+"분 ";

        divClock.innerText = msg;

        if (currentDate.getMinutes()>58) {
          divClock.style.color="red";
        }
        setTimeout(showClock,1000);
      }
    </script>
    <script>
      // var request = new XMLHttpRequest();
      var start = Date.now();
      var point = null;
      window.addEventListener('scroll', function () {
        let delta = Date.now() - start;
        point = window.scrollY;
        if (delta >= 3000) { //3초
          $.ajax({
            url: window.location,
            type: 'POST',
            dataType: 'JSON',
            data: {
              'scroll': point,
              'deltaTime': delta,
              csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            headers: { 'X-CSRFToken': '{{ csrf_token }}' },
          })
        }
        start = Date.now()
      })
    </script>
  </head>

  <body onload="showClock()">
    <div class="container-scroller">
      {% include '_navbar.html' %}
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="text-left">
              <div class="row justify-content-between align-items-center navbar-top">
                <h1 class="font-weight-600 mt-5">
                  {{ news.n_title }}
                </h1>
                <h7 class="font-weight-600 mt-3">
                  <a href='{{ news.o_link }}' style="color:blue;">원본링크</a>
                </h7>
              </div>
              <br>
                <img src="{{ news.nd_img }}" class="img-fluid1" alt="world-news"/>
                <div class="d-flex flex-column justify-content-between align-items-center navbar-top" style="line-height: 200%">
                  <h3>요약문</h3>
                  <br>
                  {% for nsc in ns_content %}
                    {{ nsc }} <br><br>
                  {% endfor %}
                  <br>
                </div>
                <br>  
                <br>
                <div class="d-flex flex-column justify-content-between align-items-center navbar-top" style="line-height: 200%">
                  <h3>원문</h3>
                  <br>
                  {% for nc in n_content %}
                    {{ nc }} <br><br>
                  {% endfor %}
                  <br>
                  조회수: {{article.hits}}
                </div>
          </div>
        </div>
      </div>
    </div>
    <!-- container-scroller ends -->
    <!-- partial:../partials/_footer.html -->
    {% include '_footer.html' %}
    <div style="position:fixed;bottom:5px;right:5px;">
      <a href="#header"><img src="{% static 'assets/images/mouse.png' %}" title="맨 위로"></a>
    </div>
    <!-- partial -->
    <!-- inject:js -->
    <script src="{% static 'assets/vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <script src="{% static 'assets/vendors/aos/dist/aos.js/aos.js' %}"></script>
    <script src="{% static 'assets/vendors/owl.carousel/dist/owl.carousel.min.js' %}"></script>
    <!-- End plugin js for this page -->
    <!-- Custom js for this page-->
    <script src="{% static 'assets/js/demo.js' %}"></script>
    <!-- End custom js for this page-->
  </body>
</html>
